{% extends "layout.html" %}
{% block content %}

<h2>Tietojen tallentaminen</h2>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
<a href="/main"> Palaa etusivulle </a> 
</p>
<p>

<h3>Lisää vauva</h3>
<p>
<form action="/addbaby" method="POST">
Nimi: <input type="text" name="name">
<p>
<input type="submit" value="Lisää">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>
<h3>Lisää vauvan tietoja</h3>
<h4>Imetys:</h4>
<form action="/addbrfeed" method="POST">
Nimi: 
<select name="baby">
  <h2>Tietojen hakeminen</h2>
  
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time"> <p> 
Kesto (minuuttia): <input type="number" name="duration"> 
<p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää" <br>
</form>
  <h4> Korvike: </h4>
<form action="/addformula" method="POST">
Nimi: 
<select name="baby">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time">  <p>
Määrä (ml): <input type="number" name="amount">    
<p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää" <br>
</form>
  <h4> Kiinteä ruoka </h4>
<form action="/addsolid" method="POST">
Nimi: 
<select name="baby">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Ruoka:  <input type="text" name="food"> <p>
Määrä (grammaa): <input type="number" name="amount"> <p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time"> 
<p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää" <br>
</form>
  <h4> Vaipat </h4>
<form action="/adddiaper" method="POST">
Nimi: 
<select name="baby">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Sisältö: <br>
<input type="radio" name="diaper" value="pissa" checked> pissa <input type="radio" name="diaper" value="kakka"> kakka <p>
Päivämäärä: <input type="date" name="date">  <p>
Kellonaika: <input type="time" name="time">  
<p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää" <br>
</form>
  <h4> Paino </h4>
<form action="/addweight" method="POST">
Nimi: 
<select name="baby">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Paino (grammaa):  <input type="number" name="weight"> <p>
Päivämäärä: <input type="date" name="date"> 
<p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää" <br>
</form>
<h4> Viesti </h4>
<form action="/addmessage" method="POST">
Nimi: 
<select name="baby">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select> 
<p>
Viesti: <p>
<textarea name="message" rows="6" cols="50">
</textarea> <p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="submit" value="Lisää">
</form>

{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
