{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
<a href="/main"> Palaa etusivulle </a>
<p>

<h2>Tietojen tallentaminen</h2>
<h3>Lisää vauva</h3>
<p>
<form action="/addbaby" method="POST">
Nimi: <input type="text" name="name">
<p>
<input type="submit" value="Lisää">
</form>
<p>
<h3>Lisää vauvan tietoja</h3>
<ul>
  <li> Imetys: <p>
<form action="/addbrfeed" method="POST">
Nimi: <input type="text" name="name"><p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time"> <p> 
Kesto (minuuttia): <input type="number" name="duration"> 
<p>
<input type="submit" value="Lisää" <br>
</form>
  <li> Korvike: <p>
<form action="/addformula" method="POST">
Nimi: <input type="text" name="name"><p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time">  <p>
Määrä (ml): <input type="number" name="amount">    
<p>
<input type="submit" value="Lisää" <br>
</form>
  <li> Kiinteä ruoka <p>
<form action="/addsolid" method="POST">
Nimi: <input type="text" name="name"><p>
Ruoka:  <input type="text" name="food"> <p>
Määrä (grammaa): <input type="number" name="amount"> <p>
Päivämäärä: <input type="date" name="date"> <p>
Aloitusaika: <input type="time" name="start_time"> 
<p>
<input type="submit" value="Lisää" <br>
</form>
  <li> Vaipat <p>
<form action="/adddiaper" method="POST">
Nimi: <input type="text" name="name"><p>
Sisältö: <br>
<input type="radio" name="diaper" value="pissa" checked> pissa <input type="radio" name="diaper" value="kakka"> kakka <p>
Päivämäärä: <input type="date" name="date">  <p>
Kellonaika: <input type="time" name="time">  
<p>
<input type="submit" value="Lisää" <br>
</form>
  <li> Paino
<p>
<form action="/addweight" method="POST">
Nimi: <input type="text" name="name"><p>
Paino (grammaa):  <input type="number" name="weight"> <p>
Päivämäärä: <input type="date" name="date"> 
<p>
<input type="submit" value="Lisää" <br>
</form>
</ul>
{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
