{% extends "layout.html" %}
{% block content %}


<h2>Tietojen hakeminen</h2>

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
<a href="/main"> Palaa etusivulle </a>
<p>

<form action="/search" method="GET">
<p>
Valitse vauva:
<select name="query">
{% for baby in babies %}
<option value={{ baby[0] }} selected> {{ baby[1] }}
{% endfor %}
</select>
<br>
<p>
<input type="submit" value="Hae">

</form>

{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
