{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
<a href="/main"> Palaa etusivulle </a>
<p>

<h2>Tietojen hakeminen</h2>

<form action="/search" method="GET">
<p>
Valitse vauva:
<select name="query">
{% for i in list %}
<option value={{ i }} selected> {{ i }}
{% endfor %}
</select>
<br>
<p>
<input type="submit" value="Hae">

</form>

{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
