{% extends "layout.html" %}
{% block content %}

<h2> Oikeudet </h2>

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
    <a href="/main"> Palaa etusivulle </a>
    <p>
<br>
Tässä voit antaa muille käyttäjille oikeuden katsoa tai muuttaa lapsesi tietoja. Voit myös poistaa antamiasi oikeuksia.

Tällä hetkellä olet antanut seuraaville käyttäjille oikeudet:
<TABLE class=table1 BORDER="2" WIDTH=auto CELLPADDING="4" CELLSPACING="3">
    <TH>Käyttäjä</TH>
    <TH>Vauva</TH>
 {% for x in rights %}
    <TR>
       <TD> {{ x[0] }} </TD>
       <TD> {{ x[3] }} </TD>
    </TR>
 {% endfor %}
</TABLE>

<form action="/addrights" method="POST">
    <p>
    Valitse käyttäjä:
    <select name="user">
    {% for user in users %}
    <option value={{ user[0] }} selected> {{ user[1] }}
    {% endfor %}
    </select>
    <p>
        
    Valitse vauva:
    <select name="baby">
    {% for baby in babies %}
    <option value={{ baby[0] }} selected> {{ baby[1] }}
    {% endfor %}
    </select>
    <p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Anna oikeus">
    <input type="submit" value="Poista oikeus" formaction="/removerights">
    
</form>

{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
