{% extends "layout.html" %}
{% block content %}

<h2> Oikeudet </h2>

{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}. <a href="/logout">Kirjaudu ulos</a>
<p>
    <a href="/main"> Palaa etusivulle </a>
    <p>
<br>
Tässä voit antaa muille käyttäjille oikeuden katsoa tai muuttaa lapsesi tietoja.

<form action="/addrights" method="POST">
    <p>
    Valitse käyttäjä:
    <select name="user">
    {% for user in users %}
    <option value={{ user[0] }} selected> {{ user[1] }}
    {% endfor %}
    </select>
    <p>
        
    Valitse vauva:
    <select name="baby">
    {% for baby in babies %}
    <option value={{ baby[0] }} selected> {{ baby[1] }}
    {% endfor %}
    </select>
    <p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Anna oikeus">
    
</form>

{% else %}
Et ole kirjautunut. <a href="/login">Kirjaudu tästä</a>
{% endif %}

{% endblock %}
